.container {
  display: flex;
  align-items: center;
}

.container span {
  font-size: 1rem;
}

.container > div {
  height: 4px;
  margin: 0 1.5rem;

  flex: 1;
  position: relative;

  border-radius: 4px;
  background: var(--gray-line);
}

.container > div > div {
  height: 4px;

  border-radius: 4px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 12px;

  transform: translateX(-50%);
}
