.container {
  width: 100%;
}

.container > header {
  width: 100%;
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 4.5rem auto 13rem 10rem;

  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 700;
}

.container > header :nth-child(2) {
  padding-left: 1.5rem;
}

.container > ul {
  list-style-type: none;
}

@media only screen and (max-width: 920px) {
  .container > header {
    grid-template-columns: 4.5rem auto 13rem;
  }

  .container > header :nth-child(3) {
    padding-right: 2rem;
    text-align: end;
  }

  .container > header :nth-child(4) {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .container > header :nth-child(3) {
    display: none;
  }

  .container > header :nth-child(4) {
    display: none;
  }
}
