.container {
  width: 7rem;
  height: 100vh;
  left: 0;
  top: 0;

  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--white);
}

.container > :is(img, svg) {
  position: absolute;
}

.logo {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 2rem;

  cursor: pointer;
}

.tabsContainer {
  width: 100%;

  position: relative;
  display: grid;
  grid-template-rows: 4rem 4rem;
}

.tab {
  width: 100%;
  height: 100%;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab svg {
  width: 2rem;
  height: 2rem;

  color: var(--text);
  opacity: 0.5;
}

:is(.tab:hover, .selected) svg {
  color: var(--blue);
  opacity: 1;
  transition: 0.1s;
}

.selector {
  width: 5px;
  height: 50%;

  position: absolute;
  left: 0;

  background: var(--blue);
  border-radius: 0 5px 5px 0;
}

.homeSelected,
.awardSelected {
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

@keyframes home {
  from {
    transform: translateY(100%);
  }
}

.homeSelected {
  top: 0;

  animation-name: home;
}

@keyframes award {
  from {
    transform: translateY(-100%);
  }
}

.awardSelected {
  bottom: 0;

  animation-name: award;
}

.settings {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 2rem;

  cursor: pointer;

  color: var(--text);
  opacity: 0.5;
}

.settings:is(:hover, .selected) {
  color: var(--blue);
  opacity: 1;
  transition: 0.1s;
}

@media only screen and (max-width: 540px) {
  .container {
    width: 100vw;
    height: 6rem;
    top: auto;
    left: 0;
    bottom: 0;
    z-index: 10;

    flex-direction: row;
    justify-content: center;
  }

  .container > img {
    margin: auto 0;
  }

  .container img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .logo {
    left: 2rem;
  }

  .settings {
    top: 0;
    bottom: 0;
    left: auto;
    right: 2rem;
  }

  .tabsContainer {
    width: 12rem;
    height: 100%;

    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 6rem 6rem;
  }

  .tab {
    width: 100%;
    height: 100%;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selector {
    width: 50%;
    height: 5px;
    top: auto;
    left: auto;
    bottom: 0;

    border-radius: 5px 5px 0 0;
  }

  @keyframes home {
    from {
      transform: translateX(100%);
    }
  }

  .homeSelected {
    top: auto;
    left: 0;

    animation-name: home;
  }

  @keyframes award {
    from {
      transform: translateX(-100%);
    }
  }

  .awardSelected {
    right: 0;

    animation-name: award;
  }
}
