.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem 0;

  display: flex;
  flex-direction: column;
}

.container > h1 {
  margin-bottom: 2.5rem;

  color: var(--title);
}

.container section {
  flex: 1;
}
