.container {
  height: 3rem;

  display: flex;
  align-items: center;
}

.container button {
  align-items: center;

  border: none;
  background: none;
  outline: none;
}

.container button div {
  background: var(--text);
  opacity: 0.5;
}

.container button:hover div {
  background: var(--blue);
  opacity: 1;
}

.shortBreak,
.longBreak {
  margin: 0.25rem;

  border-radius: 50%;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

@keyframes short {
  from {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
  }
}

.shortBreak {
  width: 1rem;
  height: 1rem;

  animation-name: short;
}

@keyframes long {
  from {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
  }
}

.longBreak {
  width: 1.5rem;
  height: 1.5rem;

  animation-name: long;
}

.controllers {
  height: max-content;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--text);
  border: 1px solid var(--gray-line);
  border-radius: 5px;
}

.controllers svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;

  cursor: pointer;
  opacity: 0.5;
}

.controllers svg:hover {
  opacity: 1;

  transition: 0.1s;
}

.controllers .plusIcon {
  border-bottom: 1px solid var(--text);
}

.controllers .plusIcon:hover {
  color: var(--green-dark);
}

.controllers .minusIcon:hover {
  color: var(--red);
}
